<main class="body">
    <div class='list_item'>
        <input checked='checked' id='movie-The flash' name='movie' type='radio'>
        <label for='movie-The flash'>
            <div class='icon ion-ios-videocam'></div>
            <span>The flash</span>
            <div class='list_item__placeholder'></div>
            <div class='list_item__image'></div>
            <div class='list_item__bg'></div>
            <section class='list_item__feature'>
                <img class='gif' src='https://www.jamiecoulter.co.uk/dev/codepen/flash_guf.gif'>
                <div class='gif_overlay'></div>
                <div class='information'>
                    <h1>The flash</h1>
                    <h2>27 episodes</h2>
                    <div class='stars'>
                        <div class='ion-android-star'></div>
                        <div class='ion-android-star'></div>
                        <div class='ion-android-star'></div>
                        <div class='ion-android-star'></div>
                        <div class='ion-android-star'></div>
                    </div>
                </div>
                <div class='description'>
                    <p>Barry Allen is a Central City police forensic scientist with a reasonably happy life,
                        despite the childhood trauma of a mysterious red and yellow being killing his mother
                        and framing his father. All that changes when a massive particle accelerator
                        accident leads to Barry being struck by lightning in his lab. Coming out of coma
                        nine months later, Barry and his new friends at STAR labs find that he now has the
                        ability to move at superhuman speed. Furthermore, Barry learns that he is but one of
                        many affected by that event, most of whom are using their powers for evil</p>
                </div>
                <div class='watch'>
                    <div class='ion-android-star'></div>
                    Watch now
                </div>
            </section>
        </label>
    </div>
    <!-- partial -->
</main>