.body {
    background-image: url('https://image.tmdb.org/t/p/original/tsRy63Mu5cu8etL1X7ZLyf7UP1M.jpg');
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    border: 0px solid red;
    opacity: 0.1;
}

// .list_item{
// }